/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background styling */
body {
    font-family: Arial, sans-serif;
    background: url('images/background-main-image.png') no-repeat center center/cover;
    height: 100vh;
    color: white;
    text-align: center;
}

/* Container for the content */
.container {
    position: relative;
    top: 20%;
}

/* Envelope container */
.envelope-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.envelope {
    width: 200px;
    height: auto;
}

.button-from-yushi,
.button-from-riku {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

.button-from-yushi {
    background-color: #0077ff;
}

.button-from-riku {
    background-color: #ff0033;
}

.button-from-yushi:hover,
.button-from-riku:hover {
    background-color: #005bb5;
}
