body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/background-main-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.show-button {
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.heart-shape {
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 220px;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.heart-shape::before, .heart-shape::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    top: 0;
}

.heart-shape::before {
    left: 0;
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
}

.heart-shape::after {
    right: 0;
    transform: rotate(45deg);
    transform-origin: 0 100%;
}

.show-button:hover {
    background-color: darkred;
}
